MONYLOG_DB__URL="sqlite:///data/monylog.db"
MONYLOG_DB__ECHO="true"
MONYLOG_OAUTH_GITHUB__CLIENT_ID="@@@@@@@@@@@@@@@@"
MONYLOG_OAUTH_GITHUB__CLIENT_SECRET="@@@@@@@@@@@@@@@@@@@"

MONYLOG_OAUTH_GOOGLE__CLIENT_ID="@@@@@@@@@@@@@@@@@@@@@@@@@@@@""
MONYLOG_OAUTH_GOOGLE__CLIENT_SECRET="@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@"